/* =============================================================================
           Xtra Lerge Disply
 ============================================================================= */
@media screen and (min-width: 1400px) {
	
}










/* =============================================================================
           Small Screen - Tablate/Others
 ============================================================================= */
@media screen and (min-width: 768px) and (max-width: 991px) {







}



/* =============================================================================
            Xtra Small Screen - Tablate
 ============================================================================= */
@media screen and (min-width: 480px) and (max-width: 767px) {	
	.side-nav {
		display: none;
	}




	/* content area responsive hare  */
	.content-area .content-box {
		width: 100%;
		padding: 20px 0px 20px 0px;
	}
	.header-area {
		flex-direction: column;
	}

	.m-menu-btn {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	.m-menu-btn .menu-humber {
		cursor: pointer;
		background: #E3F3F9;
		padding: 12px 10px;
		border-radius: 50%;
	}
	.m-menu-btn .menu-humber span {
		display: block;
		width: 25px;
		height: 3px;
		background: #343a34;
	}
	.m-menu-btn .menu-humber .span-middle {
		width: 20px;
		margin-left: auto;
	}
	.feature-area .feature-content h2::after {
		content: 'see tips';
		position: absolute;
		left: 50%;
		top: 100%;
		right: initial;
		bottom: inherit;
		transform: translate(-50%);
	}
	.suggest-cnt .inner-items ul {
		display: block;
	}
	.suggest-cnt .inner-items ul li {
		margin-right: 10px;
		width: 45% !important;
		float: left;
		margin-bottom: 10px;
	}
	
	.leg {
		padding-top: 20px;
		flex-direction: column;
		text-align: center;
	}
	.leg p {
		margin: 0;
		font-size: 16px;
		padding-left: 0px;
	}
	.leg ul {
		padding: 10px 0;
	}
	.leg ul li a {
		font-size: 14px;
	}
	.try-this {
		flex-direction: column;
		padding-top: 0 !important;
	}
	.try-this p {
		margin: 0;
		padding: 10px 0;
	}
	.feature-area {
		padding: 20px 0 50px 0;
	}

	.content-box-2 {
		padding: 20px 0 0 0px;
	}
	.content-box-2 .inner-box img {
		width: 100%;
		height: auto;
	}
	.live-tracker {
		margin-top: 20px;
	}
	.live-tracker .tracker-block {
		padding: 0 0px 15px 10px;
	}
	.top-artecl {
		margin-top: 20px;
		padding-bottom: 20px;
	}















}





/* =============================================================================
            Xtra Small Screen - Mobile Phone
 ============================================================================= */
@media screen and (max-width: 479px) {
	
	/* side nav responsive start hare  */

	.side-nav {
		display: none;
	}




	/* content area responsive hare  */
	.content-area .content-box {
		width: 100%;
		padding: 20px 0px 20px 0px;
	}
	.header-area {
		flex-direction: column;
	}

	.m-menu-btn {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	.m-menu-btn .menu-humber {
		cursor: pointer;
		background: #E3F3F9;
		padding: 12px 10px;
		border-radius: 50%;
	}
	.m-menu-btn .menu-humber span {
		display: block;
		width: 25px;
		height: 3px;
		background: #343a34;
	}
	.m-menu-btn .menu-humber .span-middle {
		width: 20px;
		margin-left: auto;
	}
	.feature-area .feature-content h2::after {
		content: 'see tips';
		position: absolute;
		left: 50%;
		top: 100%;
		right: initial;
		bottom: inherit;
		transform: translate(-50%);
	}
	.suggest-cnt .inner-items ul {
		display: block;
	}
	.suggest-cnt .inner-items ul li {
		margin-right: 10px;
		width: 45% !important;
		float: left;
		margin-bottom: 10px;
	}
	.collection .collection-content span {
		display: none;
	}
	.leg {
		padding-top: 20px;
		flex-direction: column;
		text-align: center;
	}
	.leg p {
		margin: 0;
		font-size: 16px;
		padding-left: 0px;
	}
	.leg ul {
		padding: 10px 0;
	}
	.leg ul li a {
		font-size: 14px;
	}
	.try-this {
		flex-direction: column;
		padding-top: 0 !important;
	}
	.try-this p {
		margin: 0;
		padding: 10px 0;
	}
	.feature-area {
		padding: 20px 0 50px 0;
	}

	.content-box-2 {
		padding: 20px 0 0 0px;
	}
	.content-box-2 .inner-box img {
		width: 100%;
		height: auto;
	}
	.live-tracker {
		margin-top: 20px;
	}
	.live-tracker .tracker-block {
		padding: 0 0px 15px 10px;
	}



















}